<a href="https://colab.research.google.com/github/sumitx/PYTH225_Homework/blob/master/Sumit_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.
animals = ["elephant", "tiger", "ottter", "orangutan", "penguin"]

# Print the 4th animal on the list.

print(animals[3])


# Add 'tortoise' to the beginning of the list.
animals.insert(0, "tortoise")
print(animals)


# Print the length of the list.
print(len(animals))


# Remove 'orangutan' from the list.
animals.pop(-2)


# Sort the list alphabetically and print it out.
animals.sort()
print(animals)

orangutan
['tortoise', 'elephant', 'tiger', 'ottter', 'orangutan', 'penguin']
6
['elephant', 'ottter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = None
names = ["joe", "jill", "jack", "john", "jacob"]

# Print the 3rd name on the list
print(names[2])


# Delete the first name on the list
person = names.pop(0)
print(names)

# Re-add the name you deleted to the end of the list

names.append(person)

# Replace the 2nd name on the list with a new name.

names[1] = "Rob"
print(names)

# Add 3 new names to the end of the list.
names.extend(['ray', 'rick', 'ronny'])

print(names)

jack
['jill', 'jack', 'john', 'jacob']
['jill', 'Rob', 'john', 'jacob', 'joe']
['jill', 'Rob', 'john', 'jacob', 'joe', 'ray', 'rick', 'ronny']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = None
numbers = [2,4,6,8]

# Print the max of `numbers`.
print(max(numbers))


# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

someNum = numbers.pop()
numbers.insert(2,someNum)
print(numbers)

# Pop the second number in `numbers` off.
numbers.pop(1)


# Append `3` to `numbers`.

numbers.append(3)

# Print out the average number.
print((sum(numbers)/len(numbers)))

8
[2, 4, 8, 6]
4.75



## SORTING

### P1.PY

In [6]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.
playlist_titles.sort(reverse=True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [11]:
"""
Ordering Random Numbers
"""
from random import randint
# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.
myList = [randint(1,100), randint(1,100), randint(1,100), randint(1,100), randint(1,100), randint(1,100)]
print(myList)
myList.sort()
print(myList)

[23, 95, 18, 16, 25, 66]
[16, 18, 23, 25, 66, 95]

## LIST MANIPULATION

### P1.PY

In [12]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
nums = cell.split('.')
print(nums)

['1', '192', '168', '0143']



### P2.PY

In [27]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]
my_sum = 0
for number in nums:
	my_sum += number



# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.
print(f"My Sum: {my_sum}")
nums.sort()
print(f"My min: {nums[0]}")
print(f"My max: {nums[len(nums) - 1]}")
print(f"My range: {nums[0]} to {nums[len(nums) - 1]}")
print(f"My mean: {my_sum/len(nums)}")

My Sum: 174
My min: 2
My max: 30
My range: 2 to 30
My mean: 17.4



### P3.PY

In [66]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = None
list1.extend(list1)
list3 = []
list3.extend(list1)
print(list3)

# B) Combine the two given lists and assign them to list4.
list1 = [2, 8, 6]
list4 = None
list4 = []
list4.extend(list1)
list4.extend(list2)
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:3] = [13,16,9]
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = None
list5 = []
list5.extend(list3)
for list4Item in list4:
  if list4Item not in list5:
    list5.append(list4Item)
print(list5)
# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6, 2, 8, 6]
[2, 8, 6, 10, 4, 12]
[13, 16, 9, 2, 8, 6]
[13, 16, 9, 2, 8, 6, 10, 4, 12]



### P4.PY

In [74]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

newList = []
for word in cool_runnings:
	# print(f"This is the word {word}")
	if word == "bobsled":
		newList.append("YOLO")
	else: 
		newList.append(word)

print(newList)

something = " ".join(newList)
print(something)

['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'YOLO', 'time!']
Feel the rhythm. Feel the rhyme. Get on up. It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [77]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

for element in tuple1:
  for partTuple in element:
    list1.append(partTuple)

print(list1)

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]



### P2.PY

In [114]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

sample_sum = sum(sample)
print(sample_sum)

sample_len = len(sample)
print(sample_len)

sample_mean = sample_sum/sample_len
print(f"Sample mean is: {sample_mean}")


sample.sort()
print(sample)
#Get middle two nums
mid_index_1 = int(sample_len/2) -1
mid_index_2 = int(sample_len/2)
sample_median = (sample[mid_index_1] + sample[mid_index_2])/2
print(f"Sample median is: {sample_median}")

print(sample)

#Mode
max_count = {}
max_val = 0 
for item in sample: 
	# print(item)
	# print(item)
	# print(sample.count(item))
	if(sample.count(item) > max_val):
		max_count.update({item: sample.count(item)})
		max_val = sample.count(item)
	# max_count = {item:}
# print(f"Sample median is: {sample_median}")

print(f"Sample mode is {list(max_count.keys())[0]}")

import statistics 

print("Variance of sample set is % s" 
      %(statistics.variance(sample))) 
# Once you finish, print out each value **on its own line** in this format: "median = " etc.

print("Standard Deviation of sample is % s " 
                % (statistics.stdev(sample)))

178
10
Sample mean is: 17.8
[6, 6, 8, 12, 19, 20, 24, 25, 28, 30]
Sample median is: 19.5
[6, 6, 8, 12, 19, 20, 24, 25, 28, 30]
Sample mode is 6
Variance of sample set is 84.17777777777778
Standard Deviation of sample is 9.174844836714012