<a href="https://colab.research.google.com/github/sumitx/PYTH225_Homework/blob/master/Sumit_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
b = None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

#My favorite number
my_fav_number = 3

# Create another variable that represents your favorite color, and do the same steps as above.
my_fav_color = "red"



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

my_lyrics = """
This is by me
Sumit Pal
ABCD
EFG
HIJK
LMNO
"""
print(my_lyrics)

This is by me
Sumit Pal
ABCD
EFG
HIJK
LMNO

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

latest_score = latest_score + 50
print(latest_score)


# Subtract 90

latest_score = latest_score - 90
print(latest_score)

# Multiply 10

latest_score = latest_score *10
print(latest_score)

# Divide 150
latest_score = latest_score / 150
print(latest_score)


# Modulus 3
latest_score = latest_score % 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [2]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

sentence_first_half = "I like apples"
sentence_second_half = ", and I like oranges"

sentence = sentence_first_half + sentence_second_half
print(sentence)

I like apples, and I like oranges



### P3.PY

In [4]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

x = a + b
print(x)

# B)
c = '0'
d = '2'

y = c + d
print(y)

# C)
e = '0'
f = 2

z = int(e) + f
print(z)

2
02
2



### P4.PY

In [5]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

sum1 = a + b
print(sum1)
# B)
c = False
d = False

sum2 = c + d
print(sum2)
# C)
e = True
f = False

sum3 = e + f
print(sum3)

2
0
1

## TYPECASTING

### P1.PY

In [8]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five_float = float(5)
print(five_float)

zero_float = float(0)
print(zero_float)

neg_8_float = float(-8)
print(neg_8_float)

negg_22_float = float(-22)
print(negg_22_float)

#Converting floats back to ints 
five_con = int(five_float)
zero_con = int(zero_float)
neg_8_con = int(neg_8_float)
neg_22_con = int(negg_22_float)

print(five_con)
print(zero_con)
print(neg_8_con)
print(neg_22_con)

5.0
0.0
-8.0
-22.0
5
0
-8
-22



### P2.PY

In [11]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

#converting to strings
five_string = str(5)
zero_string = str(0)
neg_8_string = str(-8)
T_string = str(True)
F_string = str(False)
print(five_string)
print(zero_string)
print(neg_8_string)
print(T_string)
print(F_string)

#converting string back 
five = int(five_string)
zero = int(zero_string)
neg_8 = int(neg_8_string)
T = bool(T_string)
F = bool(F_string)
print(five)
print(zero)
print(neg_8)
print(T)
#The last one convers back to True most likely because the string is not empty or not None 
print(F)

5
0
-8
True
False
5
0
-8
True
True



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = None
item_name_2 = None
item_name_3 = None
item_name_4 = None
item_name_5 = None

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = None
item_price_2 = None
item_price_3 = None
item_price_4 = None
item_price_5 = None

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = None
item_quant_2 = None
item_quant_3 = None
item_quant_4 = None
item_quant_5 = None

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = None
item_name_2 = None
item_name_3 = None
item_name_4 = None
item_name_5 = None

# use input() function and ask user to name prices
item_price_1 = None
item_price_2 = None
item_price_3 = None
item_price_4 = None
item_price_5 = None

# use input() function and ask user to name quants
item_quant_1 = None
item_quant_2 = None
item_quant_3 = None
item_quant_4 = None
item_quant_5 = None

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!