<a href="https://colab.research.google.com/github/sumitx/PYTH225_Homework/blob/master/Sumit_loop_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [5]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list with all the evens. When done, print the lists.

i=1
even = []
odd = []
while i < 11:
  if(i%2 == 0):
    #even
    even.append(i)
  else: 
    odd.append(i)
  i+=1



# odds = 
print(odd)
# evens = 
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]



### P2.PY

In [13]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]

print(a)

# Using a loop, remove the duplicate items from list a and print out the updated list.
i = 0
a_clean = []
while i < len(a):
  if(a[i] not in a_clean):
    a_clean.append(a[i])
  i+=1
print(a_clean)
# Using a loop, merge list b into list a without adding any duplicates.
for item in b:
  if item not in a_clean:
    a_clean.append(item)

print(a_clean)

[2, 4, 10, 20, 5, 2, 20, 4]
[2, 4, 10, 20, 5]
[2, 4, 10, 20, 5, 13, 25, 8]



### P3.PY

In [19]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

SampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and add the results to a dict called sample_temps so that the conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0
sample_temps = {}
for temp in SampleF:
  tempC = (temp - 32) * (5.0/9.0)
  print(tempC)
  sample_temps.update({temp: tempC})
# sample_temps = 
print(sample_temps)

21.999999999999996
28.000000000000004
33.00000000000001
42.0
52.0
{71.6: 21.999999999999996, 82.4: 28.000000000000004, 91.4: 33.00000000000001, 107.6: 42.0, 125.6: 52.0}

### P4.PY

In [28]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""
nums1 = [1,2,3,7,14,21,6]
nums2 = [11,12,15]

i=0
while i < len(nums1): 
  if(nums1[i] % 7 == 0): 
    print(f" {nums1[i]} is the first multiple of 7 in this range.")
    break
  print(nums1[i])
  if(i == len(nums1)-1):
    print("There are no multiples of 7 in this range.")
    break
  i += 1

1
2
3
 7 is the first multiple of 7 in this range.



### P5.PY

In [32]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""
i=1
while i < 7:
  if i == 3 or i == 6:
    i+=1
    continue
  print(i)
  i+=1

1
2
4
5

## FACTORS



### P1.PY

In [38]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors within the factorial and then print out the actual numeric answer. Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""

user_input = input('Enter a number to find its factorial: ')
#User input is the max length we go to
num = 1
product = 1 
while num <= int(user_input):
  product *= num
  num +=1

print(product)

Enter a number to find its factorial: 7
5040



### P2.PY

In [54]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

user_input = input('Enter a number to find its factors: ')
user_input = int(user_input)
num = 1 
factors = []
while num <= user_input:
  div = (user_input % num)
  if (div == 0):
    factors.append(num)
  num +=1 
print(f"The factors of {user_input} are: {factors}")

Enter a number to find its factors: 12
The factors of 12 are: [1, 2, 3, 4, 6, 12]



### P3.PY

In [66]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

user_input1 = input('First number: ')
user_input2 = input('Second number: ')

user_input1 = int(user_input1)
num = 1 
factors1 = []
while num <= user_input1:
  div = (user_input1 % num)
  if (div == 0):
    factors1.append(num)
  num +=1 

# print(factors1)

user_input2 = int(user_input2)
num = 1 
factors2 = []
while num <= user_input2:
  div = (user_input2 % num)
  if (div == 0):
    factors2.append(num)
  num +=1 

# print(factors2)

factors1.sort(reverse=True)
factors2.sort(reverse=True)

gcd = 0
done = False
for someNum in factors1: 
  if(done == False):
    for anotherNum in factors2: 
      if(someNum == anotherNum and done == False):
        gcd = someNum
        done = True
        break

print(f"The GCD of {user_input1} and {user_input2} is {gcd}")

Enter two numbers to find their greatest common denominator.
First number: 100
Second number: 200
The GCD of 100 and 200 is 100

## SHAPES

### P1.PY

In [71]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""

for i in range(1,6):
  print(i * "*")

*
**
***
****
*****

### P2.PY

In [74]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
i = 0 
while i < 6:
  print(i * "*")
  i+=1

*
**
***
****
*****



### P3.PY

In [86]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""

spaces = 4
for i in range(1,11,2):
  print(" " * spaces, i*"*")
  spaces -= 1

     *
    ***
   *****
  *******
 *********

### P4.PY

In [88]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
spaces = 4
i = 1
while i < 11:
  print(" " * spaces, i*"*")
  spaces -= 1
  i+=2

     *
    ***
   *****
  *******
 *********



### P5.PY

In [104]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

spaces = 4
for i in range(1,11,2):
  print(" " * spaces, i*"*")
  spaces -= 1
  # print(i)
  if(i == 9): 
    spaces = 1
    i = i-2
    print(" " * spaces, i*"*")
    spaces += 1
    i = i-2
    print(" " * spaces, i*"*")
    spaces += 1
    i = i-2
    print(" " * spaces, i*"*")
    spaces += 1
    i = i-2
    print(" " * spaces, i*"*")

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

### P6.PY

In [113]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

spaces = 4
i = 1
while i < 11:
  print(" " * spaces, i*"*")
  spaces -= 1
  if(i == 9):
    spaces = 1
    i = i-2
    print(" " * spaces, i*"*")
    spaces += 1
    i = i-2
    print(" " * spaces, i*"*")
    spaces += 1
    i = i-2
    print(" " * spaces, i*"*")
    spaces += 1
    i = i-2
    print(" " * spaces, i*"*")
    break
  i+=2

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

## LOOP_CHALLENGES

### P1.PY

In [0]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""


# Hint: Look up the documentation for the "re" library and it's ".search()" method.

# p = input("Input your password: ")



### P2.PY

In [0]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, print out that it is not a prime number. If it IS a prime number, print out that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12



# user_input = input("Enter a number to check if it's prime: ")